<nav class="navbar navbar-dark bg-primary">
    <ul>
        <li><a class="navbar-brand" href="/">Home</a></li>
        <li><a class="navbar-brand" href="/productions">Production House</a></li>
        <li><a class="navbar-brand" href="/movies">Movie List</a></li>
        <li><a class="navbar-brand" href="/cast">Cats</a></li>
    </ul>
    <!-- Navbar content -->
</nav>